***Task 2: Data Cleaning and
Preprocessing***

ðŸ“Œ Description

The objective of this task is to clean and preprocess the raw e-commerce dataset to ensure data quality, consistency, and readiness for further analysis and modeling.

**Data Import:**

In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv("/content/ecommerce_customer_behavior_dataset.csv")

# Quick overview
df.head()

,Order_ID,Customer_ID,Date,Age,Gender,City,Product_Category,Unit_Price,Quantity,Discount_Amount,Total_Amount,Payment_Method,Device_Type,Session_Duration_Minutes,Pages_Viewed,Is_Returning_Customer,Delivery_Time_Days,Customer_Rating
0,ORD_001337,CUST_01337,2023-01-01,27,Female,Bursa,Toys,54.28,1,0.00,54.28,Debit Card,Mobile,4,14,True,8,5
1,ORD_004885,CUST_04885,2023-01-01,42,Male,Konya,Toys,244.90,1,0.00,244.90,Credit Card,Mobile,11,3,True,3,3
2,ORD_004507,CUST_04507,2023-01-01,43,Female,Ankara,Food,48.15,5,0.00,240.75,Credit Card,Mobile,7,8,True,5,2
3,ORD_000645,CUST_00645,2023-01-01,32,Male,Istanbul,Electronics,804.06,1,229.28,574.78,Credit Card,Mobile,8,10,False,1,4
4,ORD_000690,CUST_00690,2023-01-01,40,Female,Istanbul,Sports,755.61,5,0.00,3778.05,Cash on Delivery,Desktop,21,10,True,7,4

**Missing Values Handling:**

In [3]:
df.isnull().sum()

Order_ID                    0
Customer_ID                 0
Date                        0
Age                         0
Gender                      0
City                        0
Product_Category            0
Unit_Price                  0
Quantity                    0
Discount_Amount             0
Total_Amount                0
Payment_Method              0
Device_Type                 0
Session_Duration_Minutes    0
Pages_Viewed                0
Is_Returning_Customer       0
Delivery_Time_Days          0
Customer_Rating             0
dtype: int64

Observation:

No missing values were found in any of the columns.

Decision:

Since the dataset contained no missing values, no imputation or removal was required. This ensures the dataset remains complete and reliable for analysis.

**Data Transformation:**

**a) Date Conversion**


The Date column was originally of type object and was converted to a proper



datetime format.

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

**b) Encoding (Logical / Minimal)**

Categorical variables such as:

Gender

City

Product_Category

Payment_Method

Device_Type

were retained in their original form at this stage, as encoding is not required for statistical analysis and EDA. Encoding will be applied later during modeling if necessary.

This decision avoids unnecessary preprocessing and preserves interpretability.

**Feature Engineering**

Benefit:

Improved transaction-level insights

Enabled time-based analysis

Added business-relevant metrics

In [5]:
df['Gross_Amount'] = df['Unit_Price'] * df['Quantity']
df['Net_Amount'] = df['Gross_Amount'] - df['Discount_Amount']

df['Order_Month'] = df['Date'].dt.month
df['Order_Day'] = df['Date'].dt.day
df['Order_Weekday'] = df['Date'].dt.day_name()

**Data Validation**

In [6]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Order_ID                  5000 non-null   object
 1   Customer_ID               5000 non-null   object
 2   Date                      5000 non-null   datetime64[ns]
 3   Age                       5000 non-null   int64
 4   Gender                    5000 non-null   object
 5   City                      5000 non-null   object
 6   Product_Category          5000 non-null   object
 7   Unit_Price                5000 non-null   float64
 8   Quantity                  5000 non-null   int64
 9   Discount_Amount           5000 non-null   float64
 10  Total_Amount              5000 non-null   float64
 11  Payment_Method            5000 non-null   object
 12  Device_Type               5000 non-null   object
 13  Session_Duration_Minutes  5000 non-null   int64
 14  Pages_Viewed              5000 non-null   int64
 15  Is_Returning_Customer     5000 non-null   bool
 16  Delivery_Time_Days        5000 non-null   int64
 17  Customer_Rating           5000 non-null   int64
 18  Gross_Amount              5000 non-null   float64
 19  Net_Amount                5000 non-null   float64
 20  Order_Month               5000 non-null   int32
 21  Order_Day                 5000 non-null   int32
 22  Order_Weekday             5000 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(5), int32(2), int64(6), object(8)
memory usage: 825.3+ KB

,Date,Age,Unit_Price,Quantity,Discount_Amount,Total_Amount,Session_Duration_Minutes,Pages_Viewed,Delivery_Time_Days,Customer_Rating,Gross_Amount,Net_Amount,Order_Month,Order_Day
count,5000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2023-08-16 09:16:24.959999744,35.032600,455.834120,2.220000,24.852804,983.108914,14.57340,8.98420,6.497000,3.902800,1007.961718,983.108914,5.731200,15.572800
min,2023-01-01 00:00:00,18.000000,5.180000,1.000000,0.000000,7.870000,1.00000,1.00000,1.000000,1.000000,7.870000,7.870000,1.000000,1.000000
25%,2023-04-30 00:00:00,27.000000,76.587500,1.000000,0.000000,122.517500,8.00000,7.00000,4.000000,3.000000,128.577500,122.517500,2.000000,8.000000
50%,2023-08-17 00:00:00,35.000000,182.950000,2.000000,0.000000,337.910000,13.00000,9.00000,6.000000,4.000000,348.540000,337.910000,5.000000,16.000000
75%,2023-12-06 00:00:00,42.000000,513.930000,3.000000,8.760000,979.695000,19.00000,11.00000,8.000000,5.000000,1014.247500,979.695000,9.000000,23.000000
max,2024-03-26 00:00:00,75.000000,7159.450000,5.000000,1525.550000,22023.900000,73.00000,24.00000,25.000000,5.000000,22023.900000,22023.900000,12.000000,31.000000
std,NaN,11.080546,712.477209,1.398711,88.385124,1898.978528,8.66575,2.80434,3.464966,1.128542,1931.478036,1898.978528,3.619885,8.724811

**Testing and Validation**

The preprocessing steps were verified by:

Re-checking missing values

Confirming column integrity

Ensuring row count consistency

Reviewing summary statistics post-cleaning

In [7]:
df.isnull().sum()
df.shape

(5000, 23)

**Task 2 Documentation Summary**

Data Cleaning and Preprocessing Summary:

The dataset was loaded using Pandas and inspected for missing values and duplicates. No missing or duplicate entries were identified. The Date column was converted to a datetime format, and additional time-based features were extracted. New transactional features such as Gross_Amount and Net_Amount were engineered to improve analytical depth. Outliers were analyzed and retained, as they reflect genuine customer behavior. Data validation checks confirmed consistency and correctness after preprocessing, resulting in a clean and analysis-ready dataset.